<!DOCTYPE html>
<html>
<head>
  <title>Pghub base</title>
  <%= stylesheet_link_tag    "pghub/base/application", media: "all" %>
  <%= javascript_include_tag "pghub/base/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
